.App {
  text-align: center;
  margin: 40px auto;
  max-width: 1000px;
}

button {
  background: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 8px 20px;
  font-size: 1em;
  transition: all 0.3s ease;
  text-transform: uppercase;

}

button:hover {
  color: rgb(13, 13, 68);
  background-color: #fff;
}

.cards-grid {
  margin: 40px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media screen and (max-width: 1024px) {
  .cards-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .cards-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}
